{% extends ":property:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('css/datapiker.css') }}">
    <style>
        #add-row {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 create-tender">
        {{ form_start(form, {"action":path('create_property')}) }}
        <p>Ընտրել մրցույթի տեսակը</p>
        <div>
            {{ form_widget(form.type, {"id" : "select_type"}) }}
        </div>

        <p>Ընտրել ծառայության տեսակը</p>
        <div>
            {{ form_widget(form.category, {"id" : "select_category"}) }}
        </div>
        <div>
            {{ form_widget(form.propertyType) }}
        </div>
        <div>
            <label for="range">Նշել ժամանակահատվածը</label><br>
            {#  <input type="text" name="daterange" id="range" value="Նշել ժամանակահատվածը" />#}
            {% set currentDate = "now"|date("mm/dd/YY") %}
            <label for="range">Սկիզբ </label>
            {% if form_errors(form.end) %}
                <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
            {% endif %}
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    {{ form_widget(form.start) }}
                </div>
            </div>
            <label for="range">Վերջ</label>
            {% if form_errors(form.end) %}
                <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
            {% endif %}
            <div class='input-group date' id='datetimepicker7'>
                {{ form_widget(form.end) }}
            </div>

        </div>
        <div class="form-inline products">
            <div class="form-group">
                <label for="product">Նշել Անունը</label><br>
                <input type="text" required oninvalid="setCustomValidity('Նշեք Անունը')" onchange="try { setCustomValidity('') } catch (e) {}" name="property_product[1][name]" id="product"/>
            </div>
            <div class="form-group">
                <label for="qty">Քանակ</label><br>
                <input type="number"  oninvalid="setCustomValidity('Նշեք Քանակը')" onchange="try { setCustomValidity('') } catch (e) {}" name="property_product[1][qty]" id="qty"/>
            </div>
            <div class="form-group">
                <label>Չ․միավոր</label><br>
                {% if form_errors(form_product.type) %}
                    <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
                {% endif %}
                {{ form_widget(form_product.type, {"attr":{"name" :"property_product[1][type]"} }) }}
            </div>

            <div class="form-group">
                   <span class="btn btn-success fileinput-button">
                        <label>Նկար</label>
                       {{ form_widget(form_product.image, {"attr":{"name" :"property_product[1][typee]"}}) }}
                   </span>
            </div>
        </div>

        <button id="add-row" type="button">+</button>
        <p>Ֆինանսավորման ձև</p>
        <div class="checkbox">
            {% if form_errors(form.financing) %}
                <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
            {% endif %}
            {{ form_widget(form.financing) }}
        </div>
        <p>Ապահովագրություն</p>
        <div class="checkbox">
            {% if form_errors(form.insurance) %}
                <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
            {% endif %}
            {{ form_widget(form.insurance) }}
        </div>
        <p>Առաքման հասցե</p>
        <div class="checkbox">
            {% if form_errors(form.shipment) %}
                <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
            {% endif %}
            {{ form_widget(form.shipment) }}
        </div>
        <label for="depozit">Կանխավճար</label><br>
        {% if form_errors(form.advance) %}
            <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
        {% endif %}
        {{ form_widget(form.advance) }}<br>
        <label for="budget">Մրցույթային բյուջեն</label><br>
        {% if form_errors(form.advance) %}
            <span style="color: red">*Ձեր լրացրած դաշտը սխալ է  </span>
        {% endif %}
        {{ form_widget(form.advance) }}<br>
        {{ form_widget(form.budget, {"attr":{"id":"budget"}}) }} ՀՀ դրամ<br>
        <label for="desc">Մրցույթի համառոտ բնութագիր</label>
        {{ form_widget(form.overview, { 'attr': {'class': 'form-control',"id":"desc","rows": 5}}) }}
        <label>Մրցույթի տեխնիկական բնութագիր</label>
        <span class="btn btn-success fileinput-button">
            <label>Ֆայլ</label>
            {{ form_widget(form.file, {"id" : "custom-file-input","attr":{"onchange":"onChange(this.value)"}} ) }}
        </span>
        <label id="success-file" style="color:darkgreen"></label>
        <div class="text-center">
            <input type="submit" class="give-price" value="Ավելացնել">
        </div>
        {{ form_end(form) }}
    </div>

    <script>

    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var startDate = moment();
            $('#select_type').on("change", function () {
                timeDate($(this).val())
            });
            function timeDate(expres) {
                $('.js-datepicker').datepicker(
                    {
                        format: 'yyyy-mm-dd',
                        startDate: startDate._d,
                }
                ).on('changeDate', function (selected) {
                    var endStart = moment(selected.date).add(1, "d")
                    var end;

                    if (expres == 2) {
                        end = moment(selected.date).add(2, 'd');
                    } else if (expres == 3) {
                        end = moment(selected.date).add(7, 'd');
                    } else if (expres == 4) {
                        end = moment(selected.date).add(30, 'd');
                    }else {
                        end =  moment(selected.date).add(2, 'd');
                    }

                    $('.js-datepicker2').datepicker('update', endStart._d);
                    $('.js-datepicker2').datepicker('setStartDate', endStart._d);
                    $('.js-datepicker2').datepicker('setEndDate', end._d);
                });
                $('.js-datepicker2').datepicker(
                    {
                        format: 'yyyy-mm-dd',
                    }
                );
            }
            timeDate()
        });
    </script>
{% endblock %}