{% extends ":property:base.html.twig" %}

{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Տեսակը</th>
                <th>Ժամկետ</th>
                <th>
                    <select>
                        <option selected disabled>Կարգավիճակ</option>
                        <option>Կայացած</option>
                        <option>Ընթացիկ</option>
                        <option>Չկայացած</option>
                        <option>Արխիվացված</option>
                    </select>
                </th>
                <th>Մրցույթային բյուջե</th>
                <th>Առաջարկների քանակ</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for value in property %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a href="{{ path('update_property',{"id":value.id}) }}">{{ value.id }} </a></td>
                    <td>{{ value.type }}</td>
                    <td>{{ value.start|date('Y/m/d') }} - {{ value.end|date('Y/m/d') }}</td>
                    <td>Ընթացիկ</td>
                    <td>{{ value.budget }}</td>
                    <td><a href="{{ path('my_property',{"id" : value.id}) }}">{{ value.priceCount }}</a></td>
                    <td>
                        <a href="{{ path('update_property',{"id" : value.id }) }}">
                            <button class="edit-tender">Խմբագրել</button>
                        </a>
                    </td>
                    <td><a href="single-tender.html">
                            <button class="edit-tender">Հեռացնել</button>
                        </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}