{% extends ":property:base.html.twig" %}

{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Տեսակը</th>
                <th>Ժամկետ</th>
                <th>
                    <select>
                        <option selected disabled>Կարգավիճակ</option>
                        <option>Կայացած</option>
                        <option>Ընթացիկ</option>
                        <option>Չկայացած</option>
                        <option>Արխիվացված</option>
                    </select>
                </th>
                <th>Մրցույթային բյուջե</th>
                <th>Առաջարկների քանակ</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for value in property %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a href="{{ path('update_property',{"id":value.id}) }}">{{ value.id }} </a></td>
                    <td>{{ value.type }}</td>
                    <td>{{ value.start|date('Y/m/d') }} - {{ value.end|date('Y/m/d') }}</td>
                    <td>Ընթացիկ</td>
                    <td>{{ value.budget }}</td>
                    <td><a href="{{ path('my_property',{"id" : value.id}) }}">{{ value.priceCount }}</a></td>
                    <td>
                        <a href="{{ path('update_property',{"id" : value.id }) }}">
                            <button class="edit-tender">Խմբագրել</button>
                        </a>
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#cancel" href="#">
                            <button data-target="#cancel" data-url="{{ path('delete_property',{"id":value.id}) }}" class="delete-property">
                                Հեռացնել
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>Այս տեքստը ոչ միայն կարողացել է
                            գոյատևել հինգ դարաշրջան, այլև ներառվել է էլեկտրոնային տպագրության մեջ` մնալով էապես անփոփոխ:</p>
                    </div>
                    <div class="approve-buttons text-center">
                        <button class="accept-tender" type="button">Հաստատել</button>
                        <button class="cancel-tender" type="button">Չեղարկել</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
