{% extends ":property:base.html.twig" %}

{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 create-tender">
        {{ form_start(form) }}
        <p>Մրցույթի տեսակը</p>
        <div>
            <div style="display: none;">
                {{ form_widget(form.type, {"id" : "select_type", "value": property.type}) }}
            </div>
            <h3>{{ property.type.name }}</h3>
        </div>

        <p>Ծառայության տեսակը</p>
        <div>
            <div style="display: none;">
                {{ form_widget(form.category, {"id" : "select_category", "value": property.category}) }}
            </div>
            <h3>{{ property.category }}</h3>
        </div>

        <div>
            <label for="range">Նշել ժամանակահատվածը</label><br>
            {#  <input type="text" name="daterange" id="range" value="Նշել ժամանակահատվածը" />#}
            {{ form_widget(form.start,{"value": property.start}) }}
            {{ form_widget(form.end, {"value": property.end}) }}
        </div>
        {% for value in product %}
            <div class='added'>
                <div class='form-inline'>
                    <div class='form-group'>
                        <input type='text' value="{{ value.name }}" name='product[product{{ value.id }}][name]' />
                    </div>
                    <div class='form-group'>
                        <input style='margin-left: 4px;' value="{{ value.count }}" name='product[product{{ value.id }}][qty]' type='text' />
                    </div>
                    <div class='form-group'>
                        <select name='product[product{{ value.id }}][sizes]' class='choose-size' style='margin-top: 0;'>
                            <option value='{{ value.type }}'>{{ value.type }}</option>
                            <option value='հատ'>հատ</option>
                            <option value='ք/մ'>ք/մ</option>
                            <option value='կգ'>կգ</option>
                        </select>
                    </div>
                    {% if value.image is not null %}
                        <div class='form-group'>
                            <img src="{{asset('/uploads/images/')}}{{  value.image }}" style='margin-bottom: 23px; margin-left: 4px;' width="30px" height="30px">
                        </div>
                    {% endif %}
                    <div class='form-group'>
                        <input type='file'  name='product[product{{ value.id }}][image]' style='margin-bottom: 23px; margin-left: 4px;'>
                    </div>
                </div>
            </div>
        {% endfor %}
        <p>Ֆինանսավորման ձև</p>
        <div class="checkbox">
            {{ form_widget(form.financing,{"value": property.financing}) }}
        </div>
        <p>Ապահովագրություն</p>
        <div class="checkbox">
            {{ form_widget(form.insurance,{"value": property.financing}) }}
        </div>
        <p>Առաքում</p>
        <div class="checkbox">
            {{ form_widget(form.shipment,{"value": property.shipment}) }}
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Ոչ</label>
        </div>
        <label for="depozit">Կանխավճար</label><br>
        {{ form_widget(form.advance,{"value": property.advance}) }}<br>
        <label for="budget">Մրցույթային բյուջեն</label><br>
        {{ form_widget(form.budget,{"value": property.budget}) }}<br>
        <label for="desc">Մրցույթի համառոտ բնութագիր</label>
        {{ form_widget(form.overview, {"value": property.overview , 'attr': {'class': 'form-control',"id":"desc","rows": 5}}) }}
        <label>Մրցույթի տեղնիկական բնութագիր</label>
        <a href="#">{{ form_widget(form.filePdf,{"value":property.filePdf}) }}</a>
        <div class="text-center">
            <a href="#">
                <button class="give-price">Ավելացնել</button>
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block scrits %}
    {#
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker();
        });
    </script>#}
{% endblock %}