{% extends ":property:base.html.twig" %}

{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 create-tender">
        {{ form_start(form) }}
        <p>Ընտրել մրցույթի տեսակը</p>
        <div>
            {{ form_widget(form.type,{"value": property.type}) }}
        </div>

        <p>Ընտրել ծառայության տեսակը</p>
        <div>
            {{ form_widget(form.category, {"id" : "select_category", "value": property.category}) }}
        </div>

        <div>
            <label for="range">Նշել ժամանակահատվածը</label><br>
            {#  <input type="text" name="daterange" id="range" value="Նշել ժամանակահատվածը" />#}
            {{ form_widget(form.start,{"value": property.start}) }}
            {{ form_widget(form.end, {"value": property.end}) }}
        </div>
        {#  <form class="form-inline products">
              <div class="form-group">
                  <label for="product">Նշել Ապրանքը</label><br>
                  <input type="text" id="product"  />
              </div>
              <div class="form-group">
                  <label for="qty">Քանակ</label><br>
                  <input type="text" id="qty"  />
              </div>
              <div class="form-group">
                  <select name="sizes" class="choose-size">
                      <option disabled selected value="">Չ․միավոր</option>
                      <option value="">հատ</option>
                      <option value="">ք/մ</option>
                      <option value="">կգ</option>
                  </select>
              </div>
              <div class="form-group">
                  <a href="#"><button class="upload-image">Նկար</button></a>
              </div>
          </form>
          <button id="add-row">+</button>#}
        <p>Ֆինանսավորման ձև</p>
        <div class="checkbox">
            {{ form_widget(form.financing,{"value": property.financing}) }}
        </div>
        <p>Ապահովագրություն</p>
        <div class="checkbox">
            {{ form_widget(form.insurance,{"value": property.financing}) }}
        </div>
        <p>Առաքում</p>
        <div class="checkbox">
            {{ form_widget(form.shipment,{"value": property.shipment}) }}
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Ոչ</label>
        </div>
        <label for="depozit">Կանխավճար</label><br>
        {{ form_widget(form.advance,{"value": property.advance}) }}<br>
        <label for="budget">Մրցույթային բյուջեն</label><br>
        {{ form_widget(form.budget,{"value": property.budget}) }}<br>
        <label for="desc">Մրցույթի համառոտ բնութագիր</label>
        {{ form_widget(form.overview, {"value": property.overview , 'attr': {'class': 'form-control',"id":"desc","rows": 5}}) }}
        <label>Մրցույթի տեղնիկական բնութագիր</label>
        <a href="#">{{ form_widget(form.filePdf,{"value":property.filePdf}) }}</a>
        <div class="text-center">
            <a href="#">
                <button class="give-price">Ավելացնել</button>
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block scrits %}
    {#
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker();
        });
    </script>#}
{% endblock %}