{% extends ":property:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <style>
        #add-row {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 create-tender">
        {{ form_start(form) }}
        <p>Մրցույթի տեսակը</p>
        <div>
            <div style="display: none;">
                {{ form_widget(form.type, {"id" : "select_type", "value": property.type}) }}
            </div>
            <strong>{{ property.type.name }}</strong>
        </div>

        <div>Ծառայության տեսակը</div>
        <div>
            <div style="display: none;">
                {{ form_widget(form.category, {"id" : "select_category", "value": property.category}) }}
            </div>
            <strong>{{ property.category }}</strong>
        </div>
        <div>
            {{ form_widget(form.propertyType) }}
        </div>
        <div>
            <label for="range">Նշել ժամանակահատվածը</label><br>
            <label for="range">Սկիզբ </label>
            {{ form_widget(form.start) }}
            <label for="range">Վերջ</label>
           {{ form_widget(form.end) }}
            <strong>Ավարտ {{  property.end|date("Y/m/d") }}</strong>
        </div>

        {% for value in product %}
            <div class="form-inline products">
                <div class="form-group">
                    <label for="product">Նշել Անունը</label><br>
                    <input type='text' value="{{ value.name }}"  oninvalid="setCustomValidity('Նշեք Քանակը')" onchange="try { setCustomValidity('') } catch (e) {}" name='product[product{{ value.id }}][name]' />
                </div>
                <div class="form-group">
                    <label for="qty">Քանակ</label><br>
                    <input style='margin-left: 4px;' type="number" value="{{ value.count }}"  oninvalid="setCustomValidity('Նշեք Քանակը')" onchange="try { setCustomValidity('') } catch (e) {}" name='product[product{{ value.id }}][qty]' type='text' />
                </div>
                <div class="form-group">
                   <span class="btn btn-success fileinput-button">
                        <label>Նկար</label>
                           <div class='form-group'>
                            <input type='file' accept="image/*"   name='product[product{{ value.id }}][image]' style='margin-bottom: 23px; margin-left: 4px;'>
                        </div>
                   </span>
                     {% if value.image is not null %}
                        <div class='form-group'>
                            <img src="{% path value.image, 'reference' %}"  style=' margin-left: 4px;' width="50px" height="50px" alt="">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <p>Ֆինանսավորման ձև</p>
        <div class="checkbox">
            {{ form_widget(form.financing,{"value": property.financing}) }}
        </div>
        <p>Ապահովագրություն</p>
        <div class="checkbox">
            {{ form_widget(form.insurance,{"value": property.insurance}) }}
        </div>
        <p>Առաքում</p>
        <div class="checkbox">
            {{ form_widget(form.shipment,{"value": property.shipment}) }}
        </div>
        <label for="depozit">Կանխավճար</label><br>
        {{ form_widget(form.advance,{"value": property.advance}) }}<br>
        <label for="budget">Մրցույթային բյուջեն</label><br>
        {{ form_widget(form.budget,{"value": property.budget}) }} ՀՀ դրամ<br>
        <label for="desc">Մրցույթի համառոտ բնութագիր</label>
        {{ form_widget(form.overview, {"value": property.overview , 'attr': {'class': 'form-control',"id":"desc","rows": 5}}) }}
        <label>Մրցույթի տեխնիկական բնութագիր</label>
        <a target="_blank" href="{% path property.file, 'reference' %} ">Բեռնել</a>
        <a href="#"></a>
        <span class="btn btn-success fileinput-button">
            <label>Ֆայլ</label>
            {{ form_widget(form.file, {"id" : "custom-file-input","attr":{"onchange":"onChange(this.value)"}} ) }}
        </span>
        <div class="text-center">
            <a href="#">
                <button class="give-price">Ավելացնել</button>
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var startDate = moment();
            $('#select_type').on("change", function () {
                timeDate($(this).val())
            });
            function timeDate(expres) {
                $('.js-datepicker').datepicker(
                    {
                        format: 'yyyy-mm-dd',
                        startDate: startDate._d,
                    }
                ).on('changeDate', function (selected) {
                    endStart = moment(selected.date).add(1, "d");
                    var end;

                    if (expres == 2) {
                        end = moment(selected.date).add(2, 'd');
                    } else if (expres == 3) {
                        end = moment(selected.date).add(6, 'd');
                    } else if (expres == 4) {
                        console.log(expres);
                        end = moment(selected.date).add(29, 'd');
                    }else {
                        end =  moment(selected.date).add(2, 'd');
                    }
                    $('.js-datepicker2').datepicker('update', endStart._d);
                    $('.js-datepicker2').datepicker('setStartDate', endStart._d);
                    $('.js-datepicker2').datepicker('setEndDate', end._d);
                });
                $('.js-datepicker2').datepicker(
                    {
                        format: 'yyyy-mm-dd',
                    }
                );
            }
            var expres = {{ property.type.id }};
            timeDate(expres);

        });
    </script>
{% endblock %}