<style>
    thead  tr td{
        width:400px;
        height:50px;
        background: #789339;
        border: 1px solid black;
    }
    tr{
        border: 1px solid black;
    }
    tr td {
        width:300px;
    }
</style>

<table id="headerTable">
    <thead>
    <tr>
        <td>Հ/հ</td>
        <td>Կազմակերպության անվանումը</td>
        <td>Սկիզբ</td>
        <td>Վերջ</td>
        <td>Գնային առաջարկը</td>
        <td>Ներառյալ ԱԱՀ </td>
    </tr>
    </thead>
    <tbody>
    {% set i=0 %}
        {% for value in price %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ value.owner.companyName }}</td>
                <td>{{ property.start|date("Y/m/d") }}</td>
                <td>{{ property.end|date("Y/m/d")}}</td>
                <td>{{ value.price }}</td>
                <td>{% if value.shipment %}Այո{% else %}Ոչ{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    var textRange; var j=0;
    tab = document.getElementById('headerTable'); // id of table

    for(j = 0 ; j < tab.rows.length ; j++)
    {
        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        //tab_text=tab_text+"</tr>";
    }

    tab_text=tab_text+"</table>";
    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
    {
        txtArea1.document.open("txt/html","replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus();
        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
    }
    else
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

    window.location.replace("{{ path('my_property',{"id": property.id }) }}");

</script>