<style>
    thead  tr td{
        width:400px;
        height:50px;
        background: #789339;
        border: 1px solid black;
    }
    tr td {
        width:300px;
    }
</style>

<table id="headerTable">
    <thead>
    <tr>
        <td>Հ/հ</td>
        <td>Կազմակերպության անվանումը</td>
        <td>Սկիզբ</td>
        <td>Վերջ</td>
        <td>Անուն</td>
        <td>Գնային առաջարկը</td>
        <td>Ներառյալ ԱԱՀ </td>
    </tr>
    </thead>
    <tbody>
    {% set i=0 %}
        {% for value in price %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ value.owner.companyName }}</td>
                <td>{{ property.start|date("Y/m/d") }}</td>
                <td>{{ property.end|date("Y/m/d")}}</td>
                <td>{{ value.product.name | escape }}</td>
                <td>{{ value.price }}</td>
                <td>{% if value.shipment %}Այո{% else %}Ոչ{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>