{#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="subscribe-wrapper">#}
        {#{{ form_start(form,{"attr":{"id":"subscribe-form","method":"POST","action":"/password/"}}) }}#}
        {#{{ form_row(form.email,{"attr":{"placeholder":"Your email", "class":"email-input"}}) }}#}
        {#<button type="submit" class="subscribe-button">reset</button>#}
        {#{{ form_end(form) }}#}
    {#</div>#}
{#</div>#}
{% extends "base.html.twig" %}
{% block title %}Flip Real Estate Deals - Contact!{% endblock %}
{% block body %}
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <h3>Reset password</h3>
                    {% if  form_errors(form)  %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form,{"attr":{"id":"subscribe-form","method":"POST","action":"/password/"}}) }}
                    {{ form_row(form.email,{"attr":{"placeholder":"Your email", "class":"email-input"}}) }}
                    <button type="submit" class="subscribe-button">reset</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}