{% extends "base.html.twig" %}

{% block body %}

    <section class="single-tenders-section">
        <div class="container">
            <div class="row single-tender-presentation">
                <div class="text-center">
                    <h4>{{ property.category }}</h4>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tender-image col-md-offset-2">
                    <img  width="300px" src="{% path property.type.image, 'reference' %}" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 add-price">
                        <div class="text-center">
                            <a href="{{ path('create_price',{"id" : property.id}) }}"><button class="give-price">Առաջարկել գին</button></a>
                        </div>
                </div>
            </div>
            <div class="row single-tender-description">
                <div class="text-center">
                    <h4>Մրցույթի տվյալներ</h4>
                </div>
                <div class="col-lg-2 col-md- col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>ID <span class="item-description">{{ property.id }}</span></p>
                    <p>Պատվիրատու <span class="item-description">{{ property.owner.companyName }}</span></p>
                    <p>Ապրանք <span class="item-description">{{ property.category }}</span></p>
                    <p>Ֆինանսավորման ձև
                        <span class="item-description">
                            {% if property.financing == 0 %} Անկանխիկ{% endif %}
                            {% if property.financing == 1 %} Կանխիկ{{ property.financing }} {% endif %}
                        </span>
                    </p>
                    <p>Առաքում <span class="item-description">{{ property.shipment }}</span></p>
                    <p>Հայտի ժամկետը <span class="item-description">{{ property.start|date("Y/m/d") }} - {{ property.end|date("Y/m/d") }}</span></p>
                    <p>Գնման առարկա  <span class="item-description">{{ property.propertyType }}</span></p>
                    <p>Բյուջե <span class="item-description">{{ property.budget|number_format(0, '.') }} ՀՀ դրամ</span></p>
                    <p>Բնութագիր</p>
                    <p>{{ property.overview }}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 text-right">
                <a target="_blank" href="{% path property.file , 'reference' %}"><button class="download-pdf">Բեռնել</button></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </section>
{% endblock %}