{% extends ":tenders:base.html.twig" %}

{% block body %}
            <div class="content" style="float: right;margin-top: -300px;">
                {% for value in property %}
                        <div class="row" style="width: 1100px;">
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 same-tender">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <img src="{{ asset('img/example1.jpg') }}" alt="">
                                    <h4>Բյուջե</h4>
                                    <p>{{ value.budget }}</p>
                                    <h4>Ժամանակահատված</h4>
                                    <p>{{ value.start|date("Y/m/d") }}- {{ value.end|date("Y/m/d") }}</p>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <p>ID <span class="item-description">{{ value.ID }}</span></p>
                                    <p>Պատվիրատու <span class="item-description">{{ value.owner.companyName }}</span></p>
                                    <p>Հրապարակման օր <span class="item-description">{{ value.createdAt|date("Y/m/d") }}</span></p>
                                    <p>Խմբագրվել Է <span class="item-description">{{ value.updatedAt|date("Y/m/d") }}</span></p>
                                    <h4>Համառոտ բնութագիր</h4>
                                    <p>{{ value.overview|truncate(300) }}</p>
                                    <div class="text-right">
                                        <a href="{{ path('get_property',{"id":value.id}) }}">
                                            <button class="detailed">Մանրամասն</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
{% endblock %}