{% extends "base.html.twig" %}

{% block body %}

    <section class="single-tenders-section">
        <div class="container">
            <div class="row">
                <div class="add-your-price text-left">
                    <h3 class="text-center">Առաջարկել գին</h3>
                    <div class="form-group">
                        {{ form_start(form,{"attr":{"enctype":"multipart/form-data"}}) }}
                        <label for="comment">Ձեր Ծառաությունները կամ կարճ ինֆորմացիա</label>
                        {{ form_widget(form.description,{"attr":{"class":"form-control"},"id":"comment", "rows":5}) }}
                            <p>Ընտրեք վճարման տարբերակը</p>
                            <div class="checkbox">
                                {{ form_widget(form.financing) }}
                            </div>
                            <p>ԱԱՀ</p>
                            <div class="checkbox">
                                {{ form_widget(form.shipment) }}
                            </div>

                            <p>Ապրանքների ցանկ</p>
                            <table>
                                <thead>
                                <tr>
                                    <th>Ավելացնել Նկար</th>
                                    <th>Անուն</th>
                                    <th>Քանակ</th>
                                    <th>Չափման<br/>միավոր</th>
                                    <th>Գին</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>
                                         <span class="btn btn-success fileinput-button">
                                                <label>Նկար</label>
                                        <input type="file" name="product[{{ product.id }}][file]" >
                                         </span>
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>{% if product.count  %}{{ product.count }}{% endif %}</td>
                                    <td>{% if product.type  %}{{ product.type }}{% endif %}</td>
                                    <td><input name="product[{{ product.id }}][price]"  type="text" placeholder="գին"></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button class="give-price">Առաջարկել</button>
                             </div>

                            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}

{% endblock %}