{% extends "base.html.twig" %}
{% block body %}
    <section class="single-tenders-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table>
                        <thead>
                        <tr>
                            <th>Կազմակերպություն</th>
                            <th>Ապրանք</th>
                             <th>Գին</th>
                            <th>Բնութագիր</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in pricelist %}
                            <tr>
                                <td>{{ value.owner.companyName }}</td>
                                <td>{{ value.product.name }}</td>
                                <td>
                                    {% if date(value.property.end) <= date() %}
                                        {{ value.price }}
                                        {% else %}
                                        Դուք կարող էք տեսնել առաջարկները {{ value.property.end | date("Y/m/d") }} -ից
                                    {% endif %}
                                </td>
                                <td>
                                    {% if date(value.property.end) <= date() %}
                                    <a target="_blank" href="{{ asset('uploads/files/') }}{{ value.file }}">
                                        <button class="download-tender">Ներբեռնել</button>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if date(value.property.end) <= date() %}
                                    <button class="accept-price"
                                            data="{{ path('my_done_price',{"id":value.id}) }}" id="check-tender{{ value.price }}">
                                        Հաստատել
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right">
                        <a data-url="{{ path('my_property',{"id":pricelist.0.property.id }) }}"
                           data-toggle="modal" data-target="#cancel" class="end-tender"><button>Ավարտել</button></a>
                        <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <p>
                                            Հաստատված գնային առաջարկը փոփոխման ենթակա չէ
                                        </p>
                                    </div>
                                    <div class="approve-buttons text-center">
                                        <a class="done" ><button class="done-tender">Հաստատել</button></a>
                                        <a href="">
                                            <button class="cancel-tender" type="button">Չեղարկել</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
